@import "./../colors";

.folder__info {
  margin-bottom: 1rem;

  .folder__header {
    color: $black;
  }

  .folder__name {
    color: $gray;
    font-size: 1rem;

    & span {
      color: $black;
      font-size: 1.5rem;
    }
  }

  .folder__description,
  .folder__creator,
  .folder__date {
    color: $gray;
    font-size: 0.625rem;

    & span {
      margin-left: 0.5rem;
      color: $black-light;
      font-size: 1rem;
    }
  }

  & .form__container {
    background-color: $white-dark;

    .form__group .form__label {
      color: $black-light;
    }
  }
}
