@import url("https://fonts.googleapis.com/css2?family=Sofia&display=swap");
@import "./../colors";

.menu__container {
  width: 100%;
  padding: 0.5rem 0.8rem;
  display: flex;
  align-items: center;
  background-color: #aaa;

  a {
    text-decoration: none;
  }

  .menu__logo {
    font-family: "Sofia", cursive;
    font-style: italic;
    color: $white;
    transition: all 0.4s cubic-bezier(0, -5, 0, 5);

    &:hover {
      transform: scale(1.05) rotate(5deg);
    }
  }
  .nav {
    margin-left: auto;

    .nav__links {
      display: flex;
      list-style: none;
      color: $white;
      font-size: 1.5rem;

      .nav__link {
        transition: all 0.2s ease-in-out;
        &:hover {
          cursor: pointer;
          transform: scale(1.05);
        }
      }

      .nav__link + .nav__link{
        margin-left: 1rem;
      }
    }
  }
}
