$white: #fff;

$gray: #999;
$gray-light: lighten(
  $color: $gray,
  $amount: 10%,
);
$gray-dark: darken(
  $color: $gray,
  $amount: 10%,
);

$primary: #40d189;
$primary-light: lighten(
  $color: $primary,
  $amount: 10%,
);
$primary-dark: darken(
  $color: $primary,
  $amount: 10%,
);

$light-shadow: 0 1px 3px 5px rgba(192, 255, 239, 0.2);
$error-shadow: 0 1px 3px 5px rgba(255, 53, 53, 0.363)