@import "./colors";

.container--center {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-top: 10%;
  justify-content: center;

  background-color: rgb(255, 124, 124);
}

.form__container {
  max-width: 600px;
  padding: 1.5rem;

  background-color: rgba($white, 0.2);
  border-radius: 1rem 1rem 0 0;

  h1 {
    color: $white;
    margin-bottom: 1rem;
  }

  .form__group {
    width: 100%;
    margin-bottom: 1rem;

    .form__label,
    .form__input {
      display: block;
      width: 100%;
    }

    .form__label {
      margin-bottom: 0.5rem;
      color: $white;
    }
  }
}

.main__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  min-height: 100vh;

  .sidebar{
    grid-column: 1;
    background-color: $primary;
  }
}

.error-list {
  margin-top: 1rem;
  padding: 0.5rem 0.8rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  color: rgb(255, 106, 106);
  ul {
    padding-left: 1rem;
    list-style: disc;
    line-height: 2;
  }
}
