@import "./colors";

.container--center {
  width: 100vw;
  height: 100vh;
  display: flex;
  padding-top: 10%;
  justify-content: center;

  background-color: $primary;

  @media screen and (max-width: 400px) {
    padding: 0;
    margin: 0;
  }
}

.form__container {
  max-width: 600px;
  padding: 1.5rem;

  background-color: $primary-light;
  border-radius: 1rem 1rem 0 0;

  h1 {
    color: $white;
    margin-bottom: 1rem;
  }

  .form__group {
    width: 100%;
    margin-bottom: 1rem;

    .form__label,
    .form__input {
      display: block;
      width: 100%;
    }

    .form__label {
      margin-bottom: 0.5rem;
      color: $white;
    }
  }

  @media screen and (max-width: 400px) {
    width: 100%;
    border-radius: 0;
  }
}

.main__container {
  display: grid;
  grid-template-columns: repeat(5, minmax(10px, 1fr));
  min-height: 100vh;
  width: 100vw;

  .list__items {
    list-style: none;
    padding: 0.5rem;
    padding-bottom: 0;

    .list__form {
      display: flex;
    }

    li {
      padding: 0.5rem 0.8rem;
      width: 100%;
      background-color: rgba($white, 0.1);
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      transition: all 0.2s ease-in-out;

      input {
        width: 80%;
        background-color: rgba($color: $white, $alpha: 0.2);
        color: $white;

        &:focus {
          box-shadow: none;
        }
      }

      button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: auto;
        padding: 0;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        background: $primary-dark;
        border: none;
        color: $white;
        font-size: 1.5rem;
        cursor: pointer;

        &:active {
          background-color: $primary-light;
        }
      }

      p {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      & + li {
        margin-top: 0.5rem;
      }

      &.list__item:hover {
        cursor: pointer;
        background-color: rgba($white, 0.3);
        transform: scale(1.05);
      }

      &:focus {
        background-color: rgba($white, 0.1);
      }
    }
  }

  .column1 {
    // max-width: 20rem;
    grid-column: 1/2;
    background-color: $primary;
    color: $white;
  }

  .column2 {
    background-color: $primary-light;
    grid-column: 2/3;
    color: $white;
  }

  .column3 {
    background-color: $primary-lightest;
    grid-column: 3/-1;
  }
}

.error-list {
  margin-top: 1rem;
  padding: 0.5rem 0.8rem;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
  color: rgb(255, 106, 106);
  ul {
    padding-left: 1rem;
    list-style: disc;
    line-height: 2;
  }
}

[data-tooltip]:before {
  /* needed - do not touch */
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;

  /* customizable */
  transition: all 0.4s ease;
  padding: 0.5rem 0.8rem;
  color: $white;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  box-shadow: 0 1px 3px 5px rgba($color: $primary-light, $alpha: 0.3);
}

[data-tooltip]:hover:before {
  /* needed - do not touch */
  opacity: 1;
  margin-top: 2rem;
  margin-left: 1rem;

  /* customizable */
  background: $primary-dark;
  transition: all 0.4s ease 0.6s;
}

[data-tooltip]:not([data-tooltip-persistent]):before {
  pointer-events: none;
}
