@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
@import "./colors";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans JP", sans-serif;
}

input {
  padding: 0.5rem 0.8rem;
  border-radius: 0.5rem;
  border: none;
  color: $gray-dark;

  &:focus {
    outline: none;
    box-shadow: $light-shadow;
  }
}

.button {
  color: $white;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 0.5rem;
  border: none;
  background-color: $gray;
  transition: all 0.2s ease-in-out;

  &:hover {
    cursor: pointer;
    background-color: $gray-light;
    transform: scale(1.05);
  }
}

.button--primary {
  background-color: $primary;

  &:hover {
    background-color: $primary-light;
  }
}

.button--block {
  display: block;
  width: 100%;
}

.error {
  box-shadow: $error-shadow;
  &:hover,
  &:focus {
    box-shadow: $error-shadow;
  }
}
